.um-content{
	background-color: #FFFFFF;
}
#title{
	padding:10px;
}

#time{
	margin-left:20px;
	color:#999;
}

#img{
	padding: 20px;
	width: 100%;
}

#detail{
	padding: 20px;
}
div{
	background-size: 100%  100%;
}
img {width: 100%;} 
#title{
	font-size:22px;	
}
div{
	text-align: justify;
}
.edit{
	color: #FFFFFF;
	position: absolute;
	right:10px;
	line-height: 44px;
	font-size: 14px;
}