#fillReportBtn{
	float: right;
	font-weight: 500;
	color: #ffffff; 
  	line-height: 44px;
  	text-decoration: none;
}
.headerText{
	font-size: 14px;
  	font-weight: 500;
  	color: #ffffff;
  	line-height: 44px;
  	text-decoration: none;
}

.backup{
}

.backup:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0px -3px 0px 0px;
}

#backContainer{
	padding-left: 15px;
}

#appealContainer{
	padding-right: 15px;
}
#titleContainer{
	text-align: center;
	font-size:20px;
}