.basesyl{
	padding-top:5px;
	padding-left:20px;
	font-size: 13px;
}
.um-row{
	padding-top:20px;
}
.namesyl{
	font-size: 15px;
	font-weight: bold;
	text-align:center;
}
.worksyl{
	font-size: 15px;
	text-align:center;
}
.imgsyl {
	width: 100%;
	text-align: center;
}
.imgsyl img{
	width: 90%;
	height:90px;
	
}

.ge-obj{
	padding: 5px;
}
.contentsyl{
	background-color:#FFFFFF;
}
.topsyl{
	text-align: center;
	font-weight:bold;
}
