.um-content{
	background-color: #FFFFFF;
}

#title{
	padding:10px;
}

#time{
	margin-right:20px;
}

#img{
	padding: 20px;
	width: 100%;
}

#detail{
	padding: 20px;
}
div{
background-size: 100%  100%;
}
img {width: 100%;} 